<header class="masthead">
  <h1>{gettext("Changelog")}</h1>
  <p class="details">
    <span>{gettext("Every release of this site, in order.")}</span>
  </p>
</header>

<section class="changelog-body">
  {raw(@changelog_html)}
</section>
